@model IEnumerable<CPD.Dtos.ComunidadeDto>

@{
    ViewData["Title"] = "Comunidade";
}

<grid style="display: grid; grid-template-columns: 1fr auto;">
    <div style="grid-column: 1;margin-top:30px">
        <h1>Comunidades</h1>
    </div>
    <div style="grid-column: 2;">
        <a asp-action="Create" class="btn custom-button" style="justify-self: end; margin-top:30px">Cadastrar Comunidade</a>
    </div>
    <div style="grid-column: 1 / span 2; margin-top:20px">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Endereco)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Endereco)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</grid>