@model CPD.Dominio.Entidades.Contribuinte

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Tem certeza de que deseja excluir?</h3>
<div>
    <h4>Contribuinte</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ValorContribuicao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ValorContribuicao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Periodicidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Periodicidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataFim)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Confirmar" class="btn btn-danger" /> |
        <a asp-action="Index">Cancelar</a>
    </form>
</div>
