@model IEnumerable<CPD.Dominio.Entidades.ContribuinteDto>

@{
    ViewData["Title"] = "Contribuintes";
}
<grid style="display: grid; grid-template-columns: 1fr auto;">
    <div style="grid-column: 1;margin-top:30px">
        <h1>Contribuintes</h1>
    </div>
    <div style="grid-column: 2;">
        <a asp-action="Create" class="btn custom-button" style="justify-self: end; margin-top:30px">Cadastrar doação</a>
    </div>
    <div style="grid-column: 1 / span 2; margin-top:20px">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Pessoa
                    </th>
                    <th>
                        Pessoa Responsável
                    </th>
                    <th>
                        Projeto
                    </th>
                    <th>
                        Valor de Contribuição
                    </th>
                    <th>
                        Periodicidade
                    </th>
                    <th>
                        Data Inicial
                    </th>
                    <th>
                        Data Final
                    </th>
                    <th>Ações</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contribuinte in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem=>contribuinte.NomePessoa)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>contribuinte.NomeResponsavel)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>contribuinte.NomeProjeto)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=>contribuinte.ValorContribuicao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem=> contribuinte.Periodicidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => contribuinte.DataInicio)
                        </td>
                        <td>

                            @Html.DisplayFor(modelItem => contribuinte.DataFim)
                        </td>
                        
                        <td>
                            <a asp-action="Edit" asp-route-id="@contribuinte.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@contribuinte.Id">Deletar</a> |
                            <a href="Contribuicao?contribuinteId=@contribuinte.Id">Listar Contribuições</a> |
                        </td>
                        <td>
                            <a asp-action="Create" class="btn custom-button" asp-controller="Contribuicao" asp-route-id="@contribuinte.Id"
                               asp-route-valor="@contribuinte.ValorContribuicao">Criar Contribuição</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</grid>