@model IEnumerable<CPD.Dtos.ProjetoDto>

@{
    ViewData["Title"] = "Projetos";
}
<grid style="display: grid; grid-template-columns: 1fr auto;">
    <div style="grid-column: 1;margin-top:30px">
        <h1>Projetos</h1>
    </div>
    <div style="grid-column: 2;">
        <a asp-action="Create" class="btn custom-button" style="justify-self: end; margin-top:30px">Cadastrar doação</a>
    </div>
    <div style="grid-column: 1 / span 2; margin-top:20px">
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ComunidadeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataInicio)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DataFim)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ValorEstimado)
                    </th> 
                    <th>
                        @Html.DisplayNameFor(model => model.ValorArrecadado)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.NomeComunidade)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataInicio)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFim)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorEstimado)
                        </td> 
                        <td>
                            @Html.DisplayFor(modelItem => item.ValorArrecadado)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</grid>
